<!DOCTYPE html>
<html>
    <head>
        <title>Page Connexion</title>
        
    </head>
    <body>
        <div class="container_connexion">
            <form action="/2", method="GET">
                <label for="identifiant">Identifiant :</label>
                <input type="text" name="id_user">
                <label for="mot_de_passe">Mot de passe :</label>
                <input type="password" name="mot_de_passe">
                <input type="submit" value="Connexion">
            </form>
        </div>
    </body>
</html>