<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon espace</title>
</head>
<body>
    <h1>Bonjour {{id_user_vue}} !</h1>
    <div class="resultats">
        <div class="humeur">
            <h2 class="titre_mon_espace">Votre humeur moyenne est de : {{mood_avg}} /5</h2>
            <h2 class="titre_mon_espace">Vous avez ete le plus heureux (humeur de : {{mood_max}}/5) le jour {{mood_max_date}}</h2>
            <h2 class="titre_mon_espace">Vous avez ete le moins heureux (humeur de : {{mood_min}}/5) le jour</h2>
        </div>
        <div class="sommeil">
            <h2 class="titre_mon_espace">Votre duree moyenne de sommeil est de : {{sleep_avg}}h</h2>
            <h2 class="titre_mon_espace">Vous avez dormi le plus (sommeil de : {{sleep_max}}h) le jour</h2>
            <h2 class="titre_mon_espace">Vous avez dormi le moins (sommeil de : {{sleep_min}}h) le jour</h2>
        </div>
        <div class="hydratation">
            <h2 class="titre_mon_espace">Votre hydratation moyenne est de : {{drinks_avg}} verre(s) d'eau</h2>
            <h2 class="titre_mon_espace">Vous avez bu le plus (hydratation de : {{drinks_max}} verre(s) d'eau) le jour</h2>
            <h2 class="titre_mon_espace">Vous avez bu le moins (hydratation de : {{drinks_min}} verre(s) d'eau) le jour</h2>
        </div>
    </div>
</body>
</html>