<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='sun.png') }}" type="image/x-icon">

    <title>dailynotes</title>
</head>

<body>

    <h1>tableau de bord de {{pseudo}}.</h1>
    {% block y %}
        
    {% if session.name %}
        <a href="/logout">logout</a>.
    {% else %}
        You are not Register. <a href="/">login</a>.
    {% endif %}
    
    {% endblock %}
    <div class="sun_drawing"></div>

    <a href="/{{pseudo}}/dailynotes/nepascliquer">ne pas cliquer ici.</a>

    <nav>
        <a href="/{{pseudo}}/dailynotes/jour" class="button selected">aujourd'hui</a>
        <a href="/{{pseudo}}/dailynotes/semaine" class="button">cette semaine</a>
        <a href="/{{pseudo}}/dailynotes/mois" class="button">ce mois-ci</a>
        <a href="/{{pseudo}}/dailynotes/start" class="button">depuis le début</a>
    </nav>

    <div class="update_delete">
        <a href="/{{pseudo}}/dailynotes/update_form" class="button_update">
            modifier
        </a>
        <a href="/{{pseudo}}/dailynotes/delete" class="button_delete">
            supprimer
        </a>
    </div>

    <!-- [(36, '', '', 3, 3, 7, datetime.date(2024, 6, 26), 2, 2, 'aze', 'aze', 'aze', 'aze')] -->
    <section class="day categories_dashboard">
        <h2>jour.</h2>
        <p>jour : {{current_day_infos[0][6]}}</p>
    </section>

    <section class="day categories_dashboard">
        <h2>com +.</h2>
        <p>{{current_day_infos[0][1]}}</p>
    </section>

    <section class="day categories_dashboard">
        <h2>com -.</h2>
        <div>
            <p>{{current_day_infos[0][2]}}</p>
        </div>
    </section>

    <section class="moods categories_dashboard">
        <h2>mood.</h2>
        <div>
            <p>mood : {{current_day_infos[0][3]}} / 5</p>
        </div>
    </section>

    <section class="sleep categories_dashboard">
        <h2>sleep.</h2>
        <p>sommeil : {{current_day_infos[0][5]}}h</p>
    </section>

    <section class="water categories_dashboard">
        <h2>hydratation.</h2>
        <p>eau : {{current_day_infos[0][4]}} verres d'eau</p>
    </section>

    <section class="activity categories_dashboard">
        <h2>activités.</h2>
        <p>activités : {{current_day_activities}}</p>
    </section>

</body>

</html>